@font-face {
    font-family: 'Duepuntozero';
    font-style: normal;
    font-weight: normal;
    src: local('Duepuntozero'), url('duepuntozero_regular.woff') format('woff');
    }
    
@font-face {
    font-family: 'Duepuntozero bold';
    font-style: normal;
    font-weight: normal;
    src: local('Duepuntozero bold'), url('duepuntozero_bold.woff') format('woff');
}

@font-face {
    font-family: 'Duepuntozero Black';
    font-style: normal;
    font-weight: normal;
    src: local('Duepuntozero Black'), url('duepuntozero_black.woff') format('woff');
}
/*                         ############################## GLOBAL ############################## */
div{
    /*border: solid 1px red;*/
}
body{
    display: grid;
    grid-template-areas: "header" "content" "footer";
    grid-template-rows: 1fr 80% 1fr;
    background-color: rgb(210,230,255,0.3);
    /*height: 100vh;*/
    font-family:'Duepuntozero';
}
input {
    padding: 5px;
    font-size: 15px;
}
nav {
    font-family:'Duepuntozero bold';
    font-weight:normal;
    font-size:22px;
}
select{
    padding: 3px;
    background-color: rgb(61,125,156);
    border-color: rgb(61,92,115);
    font-size: 20px;
}
input[type=button],input[type=submit]{
    font-size: 20px;
    background-color: rgb(62,92,116);
    border-radius: 9px;
    color: rgb(49,184,255);
    padding: 5px 15px;
}
/*                         ############################## PARTS ############################## */
/*##########################
    $header
This is used on the top of the page
##########################*/
header{
    grid-area: header;
    display: grid;
    grid-template-areas:"image title"
                        "menu menu";
    width: 100%;
    height: 100%;
    grid-template-columns: 0.5fr 1fr;
}
header .title {
    grid-area: title;
    text-align: left;
    align-self: center;
}
header .image {
    grid-area: image;
    text-align: center;
    width: 200px;
    margin: 0 auto;
    display: block;
}
/*##########################
    $menu
Navigation menu of the header
##########################*/
nav{
    grid-area: menu;
    background-color: rgb(76, 157, 255, 0.3); 
    display: grid;
    padding: 10px;
    border-radius: 5px;
}
.menu--language{
}
.menu--options{
    justify-self: center;
}
.menu--options a{
    font-size: 28px;
    text-decoration: none;
    color: black;
    border: 1px solid rgb(0, 151, 255);
    background-color: rgb(0, 102, 255); 
    border-radius: 5px;
    transition-duration: 0.5s;
    padding: 5px;
    margin: 5px;
}
.menu--options a:hover{
    background-color: rgb(0, 51, 204); 
    transition-duration: 0.5s;
}
/*##########################
    $content
Middle part of the website
##########################*/
aside{
    grid-area: content;
    display: grid;
    /*grid-auto-rows: 1fr;*/
}
/*/*##########################
    $contact
Contact Module
/*##########################*/
.contact{
    width: 50%;
    display: flex;
    justify-self: center;
    border: 1px solid black;
}
.contact form{
    width: 100%;
}
.contact span{
    display: grid;
}
.contact label{
    font-size: 22px;
}
.contact textarea{
    height: 200px;
}
/*/*##########################
    $homepage
Homepage Module
/*##########################*/
.homepage{
    display: grid;
    width: 100%;
    grid-template-rows: auto 1fr;
}
.homepage__blocktarifa{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    justify-self: center;
    justify-content: center;
    align-self: start;
    grid-gap: 15px;
}
/*##########################
    $Catalog
Catalog Module
##########################*/
.catalog{
    display: grid;
    width: 100%;
    justify-content: center;
    grid-template-rows: 0.2fr 1fr;
    grid-gap: 15px;
}
.catalogo__blocklist{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    justify-content: center;
    grid-gap: 15px;
}
.catalogo__blockfilter{
    justify-self: center;
    align-self: center;
}
/*##########################
    $Tarifa
Tarifa Module
##########################*/
.tarifa__block{
    display: grid;
    grid-template-columns: auto auto auto;
    align-self: start;
    justify-content: center;
    grid-gap: 15px;
}
/*##########################
    $footer
Bottom part of the website
/*##########################*/
footer{
    background-color: rgb(62,95,127); 
    padding: 15px;
    grid-area: footer;
    display: grid;
    grid-template-areas: "links social language";
    grid-template-columns: 1fr 1fr 0.3fr;
    font-size: 25px;
    border-radius: 25px 15px 0 0;
}
.footerSocial__block{
    grid-area: social;
    display: grid;
    align-self: center;
    grid-template-columns: auto auto auto;
    width: 100%;
}
.footerLinks__block{
    grid-area: links;
}
.footerLanguage__block{
    grid-area: language;
    justify-self: center;
    align-self: center;
}
footer a{
    color: black;
    padding: 2px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(62,95,127);
    text-decoration: none;
}

footer a:hover{
    color: white;
    background-color: rgb(62,95,127);
    transition-duration: 0.5s;
}
/*                         ############################## STATS ############################## */
.hidden{
    display: none;
}
.error{
    color: red;
}
/*                         ############################## ITEMS ############################## */
/*##########################
    $article
##########################*/
.article{
    border: 1px solid black;
    width: 200px;
    text-align: center;
    background-color: rgb(255,255,255,0.8);
}
.article  h1{
    background-color:rgb(67,107,127);
}
/*##########################
    $tarifa
##########################*/
.tarifa{
    border: 1px solid black;
    width: 200px;
    text-align: center;
    background-color: rgb(255,255,255,0.8);
}
.tarifa h1{
    background-color:rgb(67,107,127);
}
/*##########################
    $map
##########################*/
.map {
    width: 100%;
    height: 395px;
}
.map div{
    border: none;
}
/*##########################
    $jumbotron
##########################*/
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.prev, .next,.text {font-size: 11px}
}
.jumbotron{
    width: 100%;
    align-self: center;
}
.jumbotron a{
    z-index: 99;
}
.mySlides {
    display: none;
    min-height: 200px;
    background-position: center; 
    justify-content: center;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }