<html lang="en">
  <head>
    <title>title</title>
    <meta name="description" content="Check all the new Mobile Tariff of Wifibytes">
    <meta name="keywords" content="Mobile,tariff,cheep,telefono,tarifas,barato,recargar,wifibytes,Recharge,datos">
    
    <!-- Facebook -->
    <meta property="og:url" content="http://localhost:8080/">
    <meta property="og:image" content="logo/ekkoo_logo.jpg">
    <meta property="og:description" content="Check all the new Mobile Tariff of Wifibytes">
    <meta property="og:title" content="Ekkoo">
    <meta property="og:site_name" content="Ekko Wifibytes">
    <meta property="og:see_also" content="http://localhost:8080/#/contact">

    <!-- Google + -->
    <meta itemprop="name" content="{{pageTitle}}">
    <meta itemprop="description" content="{{description}}">
    <meta itemprop="image" content="{{imageUrl}}">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="http://localhost:8080/">
    <meta name="twitter:title" content="Ekkoo">
    <meta name="twitter:description" content="Check all the new Mobile Tariff of Wifibytes">
    <meta name="twitter:image" content="http://localhost:8000/media/logo/ekkoo_logo.jpg">

    <script type="text/javascript" src="main.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChNptO3D0G8twfsWUi6wn0mJjeoQztyQY"></script>
    <link type="text/css" href="style/css.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  </head>
  <body>
    <header id="header"></header>

    <aside id="content"></aside>
    
    <footer id="footer"></footer>
  </body>
</html>